# Django stuff:
*.log
/db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
**/*.pyc

# Virtual environment
/.venv/
/.env/
.env

# IDE specific files
.vscode/
.idea/
